.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-overlay.open {
  display: flex;
}

.popup-box {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 600px;
  position: relative;
}

.close-btn {
  align-items: center;
  top: 10px;
  right: 15px;
  font-size: 1rem;
  border: none;
  background: transparent;
  cursor: pointer;
}



