@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Quicksand:wght@400;600&display=swap');
body{
  margin:  0 !important;
}
.menu-section {
  background: linear-gradient(to bottom right, #e2c7a9, #e9d8c5);
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  min-height: 100vh;       
  width: 100vw;
  padding-bottom: 100px;   
  position: relative;
  z-index: 2;              
  overflow: visible;
}


.menu-section h1 {
  font-size:80px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 10px;
  letter-spacing: 2px;
padding-top: 130px;
  margin: 0 !important;

  color: rgba(74, 50, 37, 0.8); 
}


.menu-section h3 {
  font-size: 25px;
  max-width: 600px;
  margin: 20px auto 20px;
  line-height: 1.6;
  color: #5a4646;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
} 

.menu-showcase {
  position: relative;      /* NOT absolute */
  z-index: 1;
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: 0;
  overflow: visible;
}

@media (max-width: 768px) {
  .menu-showcase {
    padding: 1rem 0.5rem;
    height: auto;
  }
}

@media (max-width: 768px) {
  .menu-section h1 {
    font-size: 38px;
    padding-top: 60px;
  }

  .menu-section h3 {
    font-size: 18px;
    padding: 0 10px;
  }

  .card-grid {
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    margin-top: 50px;
  }

  .menu-section {
    padding-bottom: 200px; 
  }
}

